.porody-menu {
    list-style: none;
    background: #fff;
    border: 1px solid rgba(195,164,104,.4);
    border-radius: 4px;}
 nav {
        display: block;
    }

.porody-menu ul {
        display: block;
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        
    }
body{
    background: url("fon2.jpg"),rgba(255, 255, 255, 0.822);
    background-blend-mode: color;
    background-attachment: fixed;
    font-size: 1.2rem;
}
img{
    display: block;
    margin: auto;
}
.porody-menu li{
display: inline-block;
margin-left: 4.5rem;
font-size: 25px;
}
h2{

    text-align: center;
}
h1{
    text-align: center;
    font-size: 2.5em;
}
a{
    text-decoration: none;
    color: blueviolet;
    
}
p,div{
    margin:20px 60px;
    border: 1px dashed rgba(95, 173, 218, 0.747);
    border-radius: 10px;
    padding:20PX;
}
@media print{
    html{
        font-size: 4mm;
    }
a{
    color: cornflowerblue;
}

nav{
    display: none;
}
p{
    margin:0.5cm 1cm;
    border: 1px dashed rgba(95, 173, 218, 0.226);
    border-radius: 10px;
    padding:0,7cm;
    widows:3;
    orphans:4;
}
@page: first{
    margin: 0.2cm;
}
img{
    max-width: 13cm;
}
.cat1{
    page-break-after: always;
}
body{
    background: none;
}
a[href^="http"]:not([href*="lab5..std-929.ist.mospolytech.ru"]):after {
    content: " (" attr(href) ")";
}
.break{
    page-break-before: always;
}
.spis{
    page-break-inside: avoid;
}
}