img {
  max-width: 60%;
  height: auto;
  -webkit-box-shadow: 1px 2px 5px gray;
          box-shadow: 1px 2px 5px gray;
  margin: 30px auto;
}

div, p {
  max-width: 79.94975%;
  margin: 10px auto;
  background-color: #ffe5d9d0;
}
/*# sourceMappingURL=blocks.css.map */