@use "sass:color" {}@use "sass:map" {}body {
  font-family: "Montserrat Alternates", sans-serif;
  background: url("../img/fon2.jpg"), rgba(255, 255, 255, 0.822);
  background-blend-mode: color;
  background-attachment: fixed;
  font-size: 1.2rem;
}

p, div {
  border: 1px dashed #c69b82;
  border-radius: 10px;
  padding: 20px;
}

p a, div a {
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: #9b6647;
}

p a:hover, div a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.porody-menu {
  list-style: none;
  background: #ffffff;
  border: 1px solid rgba(195, 164, 104, 0.4);
  border-radius: 4px;
  display: block;
  list-style: none;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.porody-menu li {
  display: inline-block;
  margin-left: 4.5rem;
  font-size: 25px;
}

.porody-menu li a {
  text-decoration: none;
  color: #9b6647;
}

.porody-menu li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

h2, h1 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

img {
  display: block;
  margin: auto;
}

img {
  max-width: 60%;
  height: auto;
  -webkit-box-shadow: 1px 2px 5px gray;
          box-shadow: 1px 2px 5px gray;
  margin: 30px auto;
}

div, p {
  max-width: 79.94975%;
  margin: 10px auto;
  background-color: #ffe5d9d0;
}
/*# sourceMappingURL=style.css.map */