@use "sass:color"
@use "sass:map"
$font_m: 'Montserrat Alternates', sans-serif
$font_pac: 'Pacifico', cursive
$main_color: #9b6647
$status-colors: (primary: #000, success: #27BA6C, info: #03a9f4, warning: #FF8833, danger: #ff1a1a)
$photo: (fon: url("../img/fon2.jpg"), pic:'../img/man3.jpg')
@mixin for-links
    text-decoration: none
    color: $main_color
    &:hover
        text-decoration-line: underline
body
    font-family: $font_m
    background: map-get($photo, fon),rgba(255, 255, 255, 0.822)
    background-blend-mode: color
    background-attachment: fixed
    font-size: 1.2rem

p, div
    border: 1px dashed lighten($main_color,20% )
    border-radius: 10px
    padding: 20px
    a
        font-family: $font_pac
        @include for-links

.porody-menu 
    list-style: none
    background: #ffffff
    border: 1px solid rgba(195,164,104,.4)
    border-radius: 4px
    display: block
    list-style: none
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    padding-inline-start: 40px

.porody-menu 
    li
        display: inline-block
        margin-left: 4.5rem
        font-size: 25px
        a
            @include for-links


h2
    text-align: center
        
h1
    @extend h2
    font-size: 2.5em

img 
    display: block
    margin: auto


@import "blocks"
